beanhub/src/main/resources/xml/Machines_status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="TypeOfSupply">
    <xs:sequence>
      <xs:element name="coffee" type="xs:nonNegativeInteger"/>
      <xs:element name="milk" type="xs:nonNegativeInteger"/>
      <xs:element name="sugar" type="xs:nonNegativeInteger"/>
      <xs:element name="cups" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TypeOfFaults">
    <xs:sequence>
      <xs:element name="fault" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="code" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TypeOfDistributor">
    <xs:sequence>
      <xs:element name="position" type="xs:string"/>
      <xs:element name="supply" type="TypeOfSupply"/> <xs:element name="faults" type="TypeOfFaults"/>      </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="state" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="active"/>
          <xs:enumeration value="offline"/>
          <xs:enumeration value="maintenance"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="Globalstate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="distributor" minOccurs="0" maxOccurs="unbounded" type="TypeOfDistributor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>